t# Compilados de Java
*.class

# Carpetas de construcción
/target/
/out/

# Archivos de configuración local de IntelliJ
.idea/
*.iml

# Archivos de logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de entorno o configuración sensible
.env

.vscode/

### Mac OS ###
.DS_Store